* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FFB900;
    --font-heading: "Sen", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* active */



/* Common */
a {
    text-decoration: none;
}
button {
    /* bo thuoc tinh mac dinh cua button */
    border: none;
    background: transparent;
}
.btn {
    display: inline-block;
    padding: 0px 16px;
    background: #171100;
    border-radius: 999px;
    min-width: 118px;

    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    color: #ffffff;
    text-align: center;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
.main-content {
    width: 1170px;
    /* tranh sat le */
    max-width: calc(100% - 48px);
    /* can giua */
    margin-left: auto;
    margin-right: auto;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.desc {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

/* ====== Header ========= */
.header {
    background: #FFFCF4;
}
/* co ca 2 class header + fixed */
.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}


.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    font-weight: 400;
    font-size: 1.6rem;
    color: #5F5B53;
    /* padding de tang khoang cach vung bam */
    padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .action {
    margin-left: 49px;
}
.header .sign-up-btn {
    min-width: 144px;
}

/* ====== Hero ========= */

.hero {
    padding-top: 56px;
    padding-bottom: 65px;
    background: #FFFCF4;
}

.hero .body {
    display: flex;
}

/* Hero left */

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    /* xu ly anh moi kich thuoc */
    object-fit: cover;
    border-radius: 20px;

    /* khong con khoang du cua anh hoac display block */
    vertical-align: bottom;
}

.hero-sumary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.hero-sumary .item {
    display: flex;
    align-items: center;
}

.hero-sumary .item + .item {
    margin-top: 22px;
}

.hero-sumary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF9E8;
}

.hero-sumary .item:nth-of-type(2) .icon {
    background: #FCEFFF;
}

.hero-sumary .item:nth-of-type(3) .icon {
    background: #EBEAFF;
}

.hero-sumary .info {
    margin-left: 16px;
}

.hero-sumary .label {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.hero-sumary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* Hero right */

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .desc {
    margin-top: 22px;
}



.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px 0;
}

.hero .hero-cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color) ;
}

.hero .watch-video {
    /* bo thuoc tinh mac dinh cua button
    border: none;
    background: transparent; */

    display: flex;
    align-items: center;
    margin-left: 28px;

    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-style: 1.8rem;
    line-height: 1.67;
    color: #171100;
    
}

.hero .stats {
    margin-left: -28px;
    margin-top: 8px;
}
 .hero .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
 }

 /* ====== Popular ========= */

 .popular {
    padding: 65px 0;
    margin-top: 135px;
 }

 .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .popular-top .desc {
    margin-top: 16px;
    width: 458px;
 }

 .popular-top .controls {
    display: flex;
    gap: 18px;
 }

 .popular-top .control-btn {
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    /* de an theo mau */
    color: var(--primary-color);
 }

 .popular-top .control-btn:hover {
    color: #ffffff;
    background: var(--primary-color);
    cursor: pointer;
 }

 .popular .course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
 }

 .popular .course-item {
    /* Cac phan tu item kich thuoc bang nhau */
    flex: 1;

    background: #ffffff;
    border: 1px solid #E2DFDA;
    border-radius: 12px;
 }
 .popular .course-item:hover {
    /* khi hover vao thi border trong suot cho do giat */
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
 }


 .popular .course-item .thumb {
    /* chinh kich thuoc anh vua vou the cha*/
    width: calc(100% + 2px);
    /* set chieu cao */
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;

    /* de border duoi anh chieu rong +2*/
    margin: -1px;

 }

 .popular .course-item .info {
    padding: 16px 22px 22px;
 }

 .popular .course-item .head,
 .popular .course-item .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 .popular .course-item .title a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
 }
 .popular .course-item .rating {
    display: flex;
    align-items: center;
    gap: 6px;
 }

 .popular .rating .value {
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--primary-color);
 }

 .popular .course-item .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.85;
 }

 .popular .foot {
    margin-top: 12px;
 }

 .popular .course-item .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
 }

 .popular .course-item .book-btn:hover {
    background: var(--primary-color);
 }